
@media screen and (max-width:1400px) {

.roadmap-container:after {
   top: 42%; 
}

}



@media screen and (max-width:992px) {


.brazeslide-4-content {
    transform: inherit;

}

.ico-field{transform:inherit;}

.timer-body {
    max-width: 100%;
}

.grab {
    background-image: none;
    margin-top: 50px;
}


.brazeslide-6 h2 {

    color: #503eff;
    margin-bottom: 45px;
    padding-left: 30px;

}


.brazeslide-6 .owl-carousel .item .item-years {
  color: #fd585e;
  font-size:26px;
  margin-bottom: 55px;
}
.brazeslide-6 .owl-carousel .item .item-completed {
  color: #fff;
  font-size: 18px;
}
.brazeslide-6 .owl-carousel .item {
  padding: 0 30px;
}

.brazeslide-6 .owl-carousel::before {

    content: "";
    width:96%;
    height: 3px;
    background: #543efb;
    position: absolute;
    top: 23%;
    left: 30px;

}

.brazeslide-6 .owl-carousel::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fd585e;
    position: absolute;
    top:40px;
    border-radius: 100%;
    left: 23px;}

}
.brazeslide-6 .owl-theme .owl-dots .owl-dot.active span, 
.brazeslide-6 .owl-theme .owl-dots .owl-dot:hover span {

    background:none;
    border:1px solid #fff;

}
.brazeslide-6 .owl-theme .owl-dots .owl-dot span {

    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #4f3dff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;

}


}




@media screen and (max-width:767px) { 

.main-wrapper {
    padding-top:116px;
}

.bgimg img {
   display: none;
}

.bgimg {

    position: absolute;
    top: -179px;
    right:-7px;
    z-index: -1;
    width: 210px;
    height: 80px;
    background: #ff9900;
    transform: skewX(-8deg); 
    -webkit- transform: skewX(-8deg); 
    -moz- transform: skewX(-8deg);    
    background: rgba(80,61,255,1);
    background: -moz-linear-gradient(45deg, rgba(80,61,255,1) 0%, rgba(116,67,221,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(80,61,255,1)), color-stop(100%, rgba(116,67,221,1)));
    background: -webkit-linear-gradient(45deg, rgba(80,61,255,1) 0%, rgba(116,67,221,1) 100%);
    background: -o-linear-gradient(45deg, rgba(80,61,255,1) 0%, rgba(116,67,221,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(80,61,255,1) 0%, rgba(116,67,221,1) 100%);
    background: linear-gradient(45deg, rgba(80,61,255,1) 0%, rgba(116,67,221,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503dff', endColorstr='#7443dd', GradientType=1 );


}

.logo {

    width: 250px;

}

.logo img {

    width: 100%;

}


.jumbotitle {

    font-size: 42px;
    line-height: 50px;
    margin-top: 80px;

}


.jumbotitle small {
    font-size: 26px;
    line-height: 40px;
}

.brazeslide-2 {
    padding: 80px 0 20px;
}

.ico-field {
	transform: inherit;
    padding-bottom: 30px;

}
.ico-field h2 {
    margin-bottom: 0;

}

.participat-btn{
    text-align:center;
    margin-top: 30px;
}

.timer-body {
    padding: 55px 15px;
    }

.counter span {    
    width: 23%;
   }

.counter span:nth-child(1)::after, .counter span:nth-child(2)::after, .counter span:nth-child(3)::after { 

	right:-8px;

}

.mmddyy span {
    width: 23%;
}

.slide3-thumnil img {
    max-width: 100%;
    margin-top: 50px;
}


.slide3-content {
    padding-left: 0;
}

.title {
    color: #fd585e;
    font-size: 43px;
    letter-spacing: 1.5px;
    line-height: 50px;
    margin-bottom: 15px;
}

.slide3-content .title small {
    font-size: 38px;
    margin-top: 20px;
}

.brazeslide-4 {

    margin-top: 0;
}

.brazeslide-4-thumnil {
    display: none;
}

.brazeslide-4-content {
    transform: inherit;
}

.btn-box .dwonload-box:first-child {
    margin-right: 0;
    margin-bottom: 100px;
}

.brazeslide-8 p {
    width: 100%;
}

.subscribe-box .form-control{
    margin-right:0px;
}


.brazeslide-6 {

    margin-top: 0;

}

.brazeslide-6 h2 {

    color: #503eff;
    margin-bottom: 45px;
    padding-left: 30px;

}


.brazeslide-6 .owl-carousel .item .item-years {
  color: #fd585e;
  font-size: 30px;
  margin-bottom: 55px;
}
.brazeslide-6 .owl-carousel .item .item-completed {
  color: #fff;
  font-size: 18px;
}
.brazeslide-6 .owl-carousel .item {
  padding: 0 30px;
}

.brazeslide-6 .owl-carousel::before {

    content: "";
    width: 100%;
    height: 3px;
    background: #543efb;
    position: absolute;
    top: 23%;
    left: 30px;

}

.brazeslide-6 .owl-carousel::after{
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fd585e;
    position: absolute;
    top:60px;
    border-radius: 100%;
    left: 23px;

}


.brazeslide-6 .owl-theme .owl-dots .owl-dot.active span, 
.brazeslide-6 .owl-theme .owl-dots .owl-dot:hover span {

    background:none;
    border:1px solid #fff;

}
.brazeslide-6 .owl-theme .owl-dots .owl-dot span {

    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #4f3dff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;

}
footer {padding-bottom: 30px;}


.foot-social ul li a {
    padding: 0 9px;
}


}