body{

  background-color:#0a1745;
  padding: 0;
  margin: 0;  
}

html body {
  font-size: 16px;
}

.banner-wedgit{ position:relative;}

.bgimg {

    position: absolute;
    top: -269px;
    right: 0;
    z-index: -1;
}

.main-wrapper {
    padding-top: 146px;
}

.jumbotitle {
    font-size: 93px;
    color: #fff;
    margin-top: 143px;
    letter-spacing: 5px;
    line-height: 108px;
}

.jumbotitle small {
  display: block;
  font-size:40px;
  letter-spacing: 0;
  font-weight: 100;
  color: #fd585e;
}

.brazeslide-2 {

    padding: 210px 0 100px;

}

.ico-field {
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    transform: translateY(72px);
}

.ico-field h2 {
    color: #fff;
    font-size: 38px;
    margin-bottom: 50px;
}
.participat-btn {
    width: 262px;
    height: 60px;
    display: block;
    color: #fff;
    line-height: 63px;
    border-radius: 4px;
    margin: 0 auto;
    border: 1px solid transparent;
 background-clip: padding-box, border-box;
 background-origin: padding-box, border-box; 
 background-image: linear-gradient( to left, #0a1745, #0a1745), linear-gradient( to right ,#563ef9, #fd585e);
}

.participat-btn:hover {
    color: #fff;
    background-image: linear-gradient( to left, #563ef9, #fd585e), linear-gradient( to right ,#563ef9, #fd585e);
}

.participat-btn:hover {

    text-decoration: none;
    color: #fff;

}


.timer-body{
padding: 55px;
max-width: 600px;  
width:100%;  
background: rgba(90,62,245,1);
background: -moz-linear-gradient(45deg, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(90,62,245,1)), color-stop(27%, rgba(90,62,245,1)), color-stop(64%, rgba(147,72,191,1)), color-stop(100%, rgba(171,75,169,1)));
background: -webkit-linear-gradient(45deg, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
background: -o-linear-gradient(45deg, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
background: -ms-linear-gradient(45deg, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);

}

.counter span{
    color: #fff;
    font-size: 41px;
    width: 24%;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    position: relative;

}

.counter span:nth-child(1)::after,
.counter span:nth-child(2)::after,
.counter span:nth-child(3)::after  
{

    content: ":";
    position: absolute;
    right: 0;
    color:#fd585e;

}

.mmddyy{
  padding-top:15px;
}

.mmddyy span {
    color: #fff;
    font-size: 16px;
    width: 24%;
    display: inline-block;
    text-align: center;
}

.progress-box{ position: relative;}

.progress-box span {

    position: absolute;
    top:-5px;
    left:26%;

}

.timer-body .progress {
    margin-top: 50px;
    height: 33px;
    background: none;
    border:1px solid #ea5570;
    box-shadow: none;
}

.timer-body .progress .progress-bar {  
background: rgba(90,62,245,1);
background: -moz-linear-gradient(left, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(90,62,245,1)), color-stop(27%, rgba(90,62,245,1)), color-stop(64%, rgba(147,72,191,1)), color-stop(100%, rgba(171,75,169,1)));
background: -webkit-linear-gradient(left, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
background: -o-linear-gradient(left, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
background: -ms-linear-gradient(left, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
background: linear-gradient(to right, rgba(90,62,245,1) 0%, rgba(90,62,245,1) 27%, rgba(147,72,191,1) 64%, rgba(171,75,169,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a3ef5', endColorstr='#ab4ba9', GradientType=1 );
}

.goal {

    color: #fff;
    font-size: 14px;

}

.goal span {
    color: #ea5570;
}


.brazeslide-3 {
    margin-top:70px;
}

.slide3-content {

    padding-left: 115px;

}


.slide3-content .title {
    color: #fd585e;
    font-size: 28px;
    letter-spacing: 1.5px;
    line-height: 50px;
    margin-bottom: 15px;
}


.slide3-content .title small {
    display: block;
    letter-spacing: 0;
    font-size: 24px;
    color: #cd518c;
}

.slide3-content p {
    color: #fff;
    margin-bottom:30px;
}


.brazeslide-4 {
    margin-top: 136px;
    padding-top: 136px;
    padding-bottom: 136px;
}


.gradient-bg {
 /*height:500px;*/
 position: relative;
background: rgba(96,64,240,1);
background: -moz-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(96,64,240,1)), color-stop(100%, rgba(152,73,189,1)));
background: -webkit-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: -o-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: -ms-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: linear-gradient(to right, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6040f0', endColorstr='#9849bd', GradientType=1 );

}

.gradient-bg::before {
    content: "";
    width: 100%;
    height: 121px;
    background-color: #0a1745;
    position: absolute;
    transform: skewY(-4deg);
    top: -56px;
}

.gradient-bg::after {
    content: "";
    width: 100%;
    height: 121px;
    background-color: #0a1745;
    position: absolute;
    transform: skewY(-4deg);
    bottom:-62px;
}

.brazeslide-4-content .title {
    font-size: 36px;
    color: #0a1745;
    padding-bottom: 30px;
}


.brazeslide-4-content p {
    color: #fff;
}

.brazeslide-4-content  {   
     display: flex;
    flex-flow: column;
    text-align: left;
    justify-content: center;
    transform: translateY(30%);
    padding:20px;

  }

.brazeslide-5 {
    padding-top:77px;
    padding-bottom: 100px;
}

.btn-box {
    text-align: center;
}


.dwonload-box {

    display: inline-block;

}

  .btn-box .dwonload-box:first-child {
    margin-right: 100px;
}

.dwonload-box .db_icon {
    margin-bottom: 20px;
}



 .btn-download{
 border: 1px solid transparent;
 background-clip: padding-box, border-box;
 background-origin: padding-box, border-box; 
 background-image: linear-gradient( to left, #0a1745, #0a1745), linear-gradient( to right ,#563ef9, #fd585e);
 color: #fff;
 padding:13px 39px;
 font-size: 16px;
 border-radius: 4px;

}

.btn-download:hover {
 color: #fff;
 background-image: linear-gradient( to left, #563ef9, #fd585e), linear-gradient( to right ,#563ef9, #fd585e);
}


.brazeslide-6 {
    margin-top: 80px;
    padding-bottom: 76px;
}


.swiper-slide {

    font-size: 16px;
    color: #fff;
    padding: 15px 0;
    position: relative;

}

.roadmap-info .status {
    font-size: 16px;

}

.timestamp {

    color: #ff595d;
    font-weight: 300;
    margin-bottom: 50px;

}

.roadmap-container {

    margin-left: 125px;
    position: relative;

}

.status.completed {
    padding-top: 20px;
}

.status span {

    padding: 0 60px 0 0;
    display: block;

}

.roadmap-container h2 {

    color: #503eff;
    margin-bottom: 45px;

}

.roadmap-container:after{
width: 100%;
height: 2px;
content:"";
position: absolute;
background: rgba(96,64,240,1);
background: -moz-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(96,64,240,1)), color-stop(100%, rgba(152,73,189,1)));
background: -webkit-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: -o-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: -ms-linear-gradient(left, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
background: linear-gradient(to right, rgba(96,64,240,1) 0%, rgba(152,73,189,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6040f0', endColorstr='#9849bd', GradientType=1 );
top: 45%;
}

.swiper-slide:before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: #fd585e;
    position: absolute;
    top: 53px;
    border-radius: 100%;
}


.brazeslide-7{
background: rgba(50,50,184,1);
background: -moz-linear-gradient(top, rgba(50,50,184,1) 0%, rgba(63,55,214,1) 49%, rgba(73,58,236,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(50,50,184,1)), color-stop(49%, rgba(63,55,214,1)), color-stop(100%, rgba(73,58,236,1)));
background: -webkit-linear-gradient(top, rgba(50,50,184,1) 0%, rgba(63,55,214,1) 49%, rgba(73,58,236,1) 100%);
background: -o-linear-gradient(top, rgba(50,50,184,1) 0%, rgba(63,55,214,1) 49%, rgba(73,58,236,1) 100%);
background: -ms-linear-gradient(top, rgba(50,50,184,1) 0%, rgba(63,55,214,1) 49%, rgba(73,58,236,1) 100%);
background: linear-gradient(to bottom, rgba(50,50,184,1) 0%, rgba(63,55,214,1) 49%, rgba(73,58,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3232b8', endColorstr='#493aec', GradientType=0 );
padding-top:153px;
position: relative;
padding-bottom:150px;}

.brazeslide-7::before {

    content: "";
    width: 100%;
    height: 121px;
    background-color: #0a1745;
    position: absolute;
    transform: skewY(-4deg);
    top: -56px;

}

.brazeslide-7-title {
    text-align: center;
    color: #fff;
    font-size: 30px;
    margin-bottom: 80px;
}

.brazesslide7-item-inner{
  text-align: center;
}

.brazesslide7-item-inner .item-thumbnil{
  width: 229px;
  height:230px;
  border-radius:100%;
  background-color: #fff;
  display: block;
  margin: 0 auto;
}

.brazesslide7-item-inner .item-thumbnil img{
    max-width: 100%;
    height: 100%;
    border-radius: 100%;

}

.brazesslide7-item-inner p {
  margin-top: 30px;
  color: #fff;
  margin-bottom:10px;
}
.brazesslide7-item-inner small {
  color: #051437;
}

.social-box {

    display: block;
    padding-top:10px;

}

.social-box a {

    color: #ff5b54;
    font-size: 22px;
    margin: 0 20px;

}

.advisors-wrap {

    margin-top: 112px;

}

.brazeslide-8 {

    position: relative;
    padding-top: 100px;

}


.brazeslide-8::before {

    content: "";
    width: 100%;
    height: 121px;
    background-color: #0a1745;
    position: absolute;
    transform: skewY(-4deg);
    top: -56px;

}


.blz_ic {
    text-align: center;
}

.brazeslide-8 h1 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 44px;
    color: #fd585e;
}

.brazeslide-8 p {
    color: #fff;
    text-align: center;
    line-height: 28px;
    width: 60%;
    margin: 0 auto;
}

.subscribe-box{
  text-align: center;
  margin-top: 50px;
}

.subscribe-box .form-control {

    width: 300px;
    border: 2px solid #152f8d;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    padding-left: 18px;
    display:inline-block;
    margin-right: 21px;
    color:#fff;

}

.btn-subscribe {

    width: 203px;
    height: 50px;
    background: none;
    color: #fff;
    border: 2px solid #bf52b8;
    display: inline-block;
    border-radius: 5px;

}

footer {

    background-color: #262d9b;
    color: #fff;
    min-height: 74px;
    padding-top:23px;
    margin-top: 130px;

}

.copyright {

    font-size: 13px;

}

.foot-social ul li a {

    color: #fff;
    display: block;
    padding: 0 15px;
    font-size: 20px;

}

.foot-social .dropdown-toggle {
    background: none;
    border: none;
}

.foot-social .dropdown-toggle:hover,
.foot-social .dropdown-toggle:focus,
.foot-social .dropdown-toggle:active {
    background: none;
    border: none;
    color:#fff;
}

.foot-social .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {

    width:137px;

}



.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {

    background:none;
    border:1px solid #fff;

}
.owl-theme .owl-dots .owl-dot span {

    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #0a1745;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;

}

.owl-nav {

    display: none;

}

.owl-dots {

    text-align: center;
    margin-top: 45px;

}

.grab{

    background-image: url("../images/grab.png");
    background-repeat:no-repeat;
    background-position:center right;


}

